.group {
  padding: 24px 24px 88px 24px;
  max-width: 768px;
}

.title {
  font-size: 12px;
  margin-top: 16px;
  opacity: 0.8;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.action {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
}


.ul {
  margin-top: 12px;
}
