.container {
  background: linear-gradient(30deg, #7d9bee, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.items li {
  list-style-type: none;
  color: #002c53;
  font-weight: 600;
  line-height: 12px;
}

[data-theme="dark"] .items li {
  color: #71b0cb;
}

[data-theme="dark"] .container {
  background: linear-gradient(30deg, rgb(39, 39, 39), rgb(0, 0, 0));
}

.logo {
  width: 80%;
}
.icons {
  width: 80%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
.icons span {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
[data-theme="dark"] .icons span {
  color: #e3e3e3;
}
.twitter {
  background-image: url("./images/twitter.svg");
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
}
.slack {
  background-image: url("./images/slack.svg");
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
}
.stack {
  background-image: url("./images/stack-overflow.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

[data-theme="dark"] .twitter {
  background-image: url("./images/twitter_dark.svg");
}

[data-theme="dark"] .slack {
  background-image: url("./images/slack_dark.svg");
}

[data-theme="dark"] .stack {
  background-image: url("./images/stack-overflow_dark.svg");
}
