/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  --ifm-color-primary: #0002ff;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 48px;
  --ifm-navbar-item-padding-vertical: 0px;
  --ifm-navbar-padding-horizontal: 0px;

}
[data-theme='dark'] {
  --ifm-color-primary: hsl(240, 100%, 69%)


}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html,
body {
  --color-background: #000000;
  --color-background-body: #ffffff;
  --color-background-code: #282828;
  --color-foreground: #ffffff;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-text: #000000;
  --color-text-code: #ffffff;
  --color-primary: rgba(0, 2, 255, 1);

  --main-text-details: #8d8d8d;
}

.navbar__link{
  font-size:14px;
  font-weight:600;
}


.navbar__items .logo{
  padding-left:0 !important;
  font-weight:700;
}

pre {
  background-color:transparent;
}
