.container {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

.container__left {
  width: 288px;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border);
  background: var(--color-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  font-weight: 600;

  @media (max-width: 1280px) {
    width: 216px;
  }

  @media (max-width: 840px) {
    width: auto;
  }
}

.container__right {
  width: 100%;
  min-width: 10%;
  border-right: 1px solid var(--color-border);
  background: var(--color-foreground);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px 8px 16px;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 840px) {
    height: auto;
    display: block;
  }
}

.sections__index {
  width: 288px;
  flex-shrink: 0;
  height: 100%;
  overflow-y: scroll;
  padding: 32px 0px 88px 0px;
  border-right: 1px solid var(--color-border);
  background: var(--color-foreground);

  @media (max-width: 1280px) {
    width: 216px;
  }

  @media (max-width: 840px) {
    display: none;
    height: 1px;
    width: 1px;
  }

  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  ::-webkit-scrollbar {
    display: none;
  }
}

.sections__body {
  width: 100%;
  min-width: 10%;
  height: 100%;
  overflow-y: scroll;
  background: var(--color-background-body);
  border-right: 1px solid var(--color-border);
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-right:16px;

  @media (max-width: 840px) {
    height: auto;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.sections__code {
  width: 40%;
  flex-shrink: 0;
  height: 100%;
  overflow-y: scroll;
  background: var(--color-background-code);
  color: var(--color-text-code);
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media (max-width: 840px) {
    height: auto;
    overflow-y: auto;
    width: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.logo {
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 14px;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.link {
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 14px;

  &:visited {
    color: var(--color-primary);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.mobileLink {
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 14px;
  margin-left: 24px;
  display: none;

  @media (max-width: 840px) {
    display: inline-flex;
  }

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }
}
@font-face {
  font-family: 'Mono';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Regular.woff2')
    format('woff');
}

@font-face {
  font-family: 'MonoMedium';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Medium.woff2')
    format('woff');
}
