.block {
  padding: 38px 0 0 0;
  font-size: 0.85rem;
  font-family: 'Mono' !important;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  opacity: 0.6;

  textarea {
    &:focus {
      outline: 0;
      border: 0;
    }

    border: 0;
    outline: 0;
  }
}

.title {
  border-radius: 4px;
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #cdcdcd;
  opacity: 0.4;
  padding: 3px 8px 3px 8px;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 10px;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Mono';
  letter-spacing: 0.2px;
}

.code {
  padding: 6px;
  font-size: 0.85rem;
  border-top: #333 1px solid;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Mono';
}

.curl {
  padding: 16px;
  font-family: 'Mono';
}

.curl__line {
  display: block;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: 'Mono';
}

.error {
  padding: 16px;
  border-top: #333 1px solid;

  * {
    font-family: 'Mono';
  }
}

.preview {
  padding: 16px;
  border-top: #333 1px solid;

  * {
    font-family: 'Mono';
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
