.textarea {
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  background: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  min-height: 160px;
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  resize: none;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 16px 16px 16px 16px;
  text-overflow: ellipsis;
  white-space: wrap;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);

  &:focus {
    border: 1px solid var(--color-primary);
    box-shadow: 0 1px 16px rgba(0, 0, 255, 0.07);
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
  }
}

.container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 568px;
  min-width: 188px;
}

.item {
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  min-width: 10%;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding-top: 2px;
}

.right {
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;

  &:hover {
    color: var(--color-primary);
  }
}
